.App {
  text-align: center;
}

.notepad {
  border: .75px dashed deeppink;
  width: 90vw;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 14px;
  font-size: 9px;
  user-select: none;
  margin: 0;
  border: 0;
}

.tile.active {
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  margin: 20px;
}
